<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title"><h2>Fine</h2></h4>
                    </div>
                    <div class="content">
                        <div class="panel panel-Primary">
                            <div class="panel-body">
                              Issue open
                            </div>
                            <div class="panel-footer">23 june</div>
                          </div>
                          <div class="panel panel-info">
                              <div class="panel-body">
                                Issue Close
                              </div>
                              <div class="panel-footer">25 june</div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-body">
                                  Price Band
                                </div>
                                <div class="panel-footer">190-195</div>
                              </div>
                              <div class="panel panel-danger">
                                  <div class="panel-body">
                                    Bid Lot
                                  </div>
                                  <div class="panel-footer">70</div>
                                </div>
                          
                            
                        
   
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

